/*-----home-page----*/
*
{
    margin: 0;
    padding: 0;
}

#nav-bar
{
   
position:absolute;    
    top:0;
    z-index:10;
   background-color: #fff;
}

.navbar-nav li
{
    padding:0 100px;
}
.navbar-nav li a
{
    float:right;
    text-align:center;
}
#nav-bar ul li a:hover
{
    color:#007bff!important;
}
.navbar
{
    background:#fff;
}
.navbar-toggler
{
    border:none!important;
}
.nav-link
{
    color:#555!important;
    font-weight:600;
    font-size:16px;
}
.active
{
    color:#007bff!important;
    font-weight:600;
    font-size:16px;
}
header
{
   background-image: url(img/ge2.jpg);
    background-size:cover;
    background-position:center;
    color:#efefef!important;
    height: 100vh;
    
    background-color: #333;
}
    .main-nav
{
    float:right;
    list-style:none;
    margin-top:30px;
}
.main-nav li
{
    display:inline-block;
     margin-bottom: 30%;
    margin-top: 70%;
}
.main-nav li a
{
    color:white;
    text-decoration:none;
    padding:5px 20px;
    font-family: "roboto",sans-serif;
     color:#fff!important;
    font-weight:600;
    font-size:18px;
    
}

.main-nav li a:hover
{
   
    color:#007bff!important;
}
.container
{
   position: absolute;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
   
}
h2
{
    color:white;
    font-size: 50px;
    text-align:right;
    margin-top:265px;
     text-align: right;
}
h3
{
    color:lightseagreen;
    font-size: 50px;
    text-align:right;
    
}
/*---------footer-------*/
#footer
{
    background: #333;
    color:#fff;
    padding: 18px;
}


















