
*
{
    margin: 0;
    padding: 0;
   
}

.hero
{
    text-align: center;
}
.hero h2
{
    text-align: center;
    padding-bottom: 10px;
}
.hero h2::after
{
    content:'';
    background: #007bff;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px;
}
    /*------nav-bar---------*/

#nav-bar
{
   
position:absolute;    
    top:0;
    z-index:10;
   
}

.navbar-nav li
{
    padding:0 100px;
 
    
}
.navbar-nav li a
{
    float:right;
    text-align:center;
}
#nav-bar ul li a:hover
{
    color:#007bff!important;
}
.navbar
{
    background:#fff;
}
.navbar-toggler
{
    border:none!important;
}
.nav-link
{
    color:#555!important;
    font-weight:600;
    font-size:16px;
   
}
.active
{
    color:#007bff!important;
    font-weight:600;
    font-size:16px;
}
/*---------clients info------*/
#clients
{
    padding-top: 220px;
    padding-bottom: 10px;
}

#clients .row
{
    margin-top: 30px;
}
.col-md-4
{
    margin: 40px auto;
}
.profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user
{
    width:120px;
    height:120px;
    border-radius: 50%;
}
.profile img
{
    top:-60px;
    position: absolute;
    left:calc(50% - 60px);
    border: 10px solid #fff;
}
.profile h3
{
    font-size:20px;
    margin-top: 15px;
    color:#007bff;
}
#clients span
{
    font-size:12px;
    color:#333;
}
.blockquote
{
    font-size:16px;
    line-height: 30px;
}
.blockquote::before
{
   content:'\93';
    font-size:50px;
    color:#007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right:5px;
}
.blockquote::after
{
   content:'\94';
    font-size:50px;
    color:#007bff;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left:5px;
}
.profile:hover
{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor:pointer;
    transition:0.5s;
}
#clients .btn
{
    float: right;
}
/*-----sign up-----*/
#sign-up
{
    background: #efefef;
    padding-top: 0px;
    padding-bottom: 40px;
 
}
p
{
    text-align: center;
}
.contact-form
{
    padding: 15px;
}
.form-control
{
    border-radius: 0!important;
    border:1px;
    
}
::placeholder
{
   color:#999!important; 
}
.form-group
{
    display:inline-block;
    width: 450px;
    text-align: right;
    padding: 0 100px;
    
}
/*---------footer-------*/
#footer
{
    background: #fff;
    color:black;
    padding: 1px;
    float:left;
    font-size: 30px;
}